@use '../../node_modules/modern-normalize/modern-normalize';
@use 'framework/mixins';
@use 'framework/variables';
@use 'framework/wordpress';
@use 'framework/base';

:root {
  --elevation-high: rgba(0, 0, 0, 0.25) 0px 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px 4px 20px -4px, rgba(0, 0, 0, 0.01) 0px 10px 36px 0px;
}

#site-header {
  background-color: variables.$card;
  box-shadow: var(--elevation-high);
  margin-block-end: mixins.rem(24px);
  padding-block-end: mixins.rem(24px);
  
  a {
    text-decoration: none;
  }
  
  #page-title {
    color: variables.$neutralContentStrong;
    font-size: mixins.rem(36px);
    font-weight: bold;
    margin-block: mixins.rem(24px) 0;
  }
  
  .menu {
    border-block-end: 1px solid variables.$neutralNonContentStrong;
    display: flex;
    flex-direction: row;
    margin-inline-start: mixins.rem(-12px);
    width: fit-content;
    
    .menu-item {
      color: variables.$neutralContentSubdued;
      display: block;
      padding: mixins.rem(8px) mixins.rem(12px);
      text-decoration: none;
      
      &:active,
      &:focus,
      &:hover {
        color: variables.$neutralContentStrong;
        background: variables.$neutralNonContentSoft;
      }
      
      &.is-current {
        color: variables.$neutralContentStrong;
        position: relative;
        
        &::after {
          background: variables.$accentNonContentStrong;
          bottom: 0;
          content: "";
          display: block;
          height: mixins.rem(2px);
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}

.shelf {
  display: grid;
  grid-gap: mixins.rem(10px);
  grid-template-columns: repeat(auto-fill, 150px);
  list-style-type: none;
  padding: 0;
  
  .item {
    margin-inline: 0;
    
    img {
      max-block-size: 220px;
      inline-size: 100%;
    }
  }
}

.articles {
  margin-block-start: mixins.rem(80px);
  
  .article + .article {
  
  }
}

#site-footer {
  background-color: variables.$card;
  box-shadow: var(--elevation-high);
  display: grid;
  grid-gap: mixins.rem(10px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "listening reading"
    "greeting greeting"
    "copyright copyright";
  margin-block-start: mixins.rem(48px);
  
  .reading,
  .listening {
    display: grid;
    grid-gap: 0;
    grid-template-columns: fit-content(300px) 1fr;
    grid-template-areas:
      "header header"
      "image text";
    
    h3 {
      grid-area: header;
    }
    
    img {
      block-size: 300px;
      max-inline-size: 300px;
      grid-area: image;
    }
    
    p {
      align-self: end;
      padding-inline-start: mixins.rem(10px);
      grid-area: text;
    }
  }
  
  .reading {
    grid-area: reading;
    margin-block-end: 1rem;
    position: relative;
    
    figure {
      display: grid;
      grid-template-areas: "solo";
      align-content: center;
      left: 13.25rem;
      margin: 0;
      position: absolute;
      top: 5rem;
    }
   
    canvas {
      transform: rotate(-90deg);
    }
    
    canvas, figcaption {
      align-content: center;
      grid-area: solo;
      text-align: center;
    }
    
    figcaption {
      color: variables.$neutralContentStrong;
      z-index: 1;
    }
    
  }
  
  .listening {
    grid-area: listening;
    margin-block-end: 1rem;
    
    img {
      inline-size: 300px;
      max-inline-size: auto;
    }
  }
  
  .greeting {
    grid-area: greeting;
    margin-block: 0;
  }
  
  .copyright {
    grid-area: copyright;
    margin-block-start: 0;
  }
}
