@use 'mixins';
@use 'variables';

:root {
  // full bleed source:
  // https://frontendmasters.com/blog/full-bleed-layout-with-modern-css
  
  --max-width: 1000px;
  --min-margin: 1em;
}

html, body {
  background-color: variables.$canvas;
  color: variables.$neutralContentStrong;
  container-type: inline-size;
  font: normal 125%/1.6 variables.$font; // usually 20px
  height: 100%;
  margin: 0;
  padding: 0;
}

html.admin-bar {
  height: calc(100% - 32px);
  
  @include mixins.adminBarBreakpoint {
    height: calc(100% - 46px);
  }
}

a {
  &:link,
  &:visited {
    color: variables.$accentContentStrong;
  }
  
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

body {
  display: grid;
  block-size: 100%;
  font-size: mixins.rem(18px);
  grid-template-rows: auto 1fr auto;
  min-block-size: 100%;
}

main,
#site-header,
#site-footer {
  padding-inline: max(var(--min-margin), 50cqw - var(--max-width) / 2);
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border: 1px solid variables.$neutralContentStrong;
  border-radius: mixins.rem(5px);
}

.hidden {
  display: none;
  visibility: hidden;
}
