$black: #060607;
$white: #FFFFFF;
$gray: #D6D6D6;
$pink: #93395C;
$purple: #5D2189;
$yellow: #6C5309;
$silver: #DDDDDD;

// Nunito is the web font we're using; the rest are copied from the modern
// normalize styles so we fall back on the very thing that it wants to use as a
// fallback.

$font: Nunito, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji';
